@media only screen and (max-width: 767px) {

    body {
        font-family: Arial, sans-serif;
        height: 100vh;
        background: linear-gradient(135deg, #618264, #B0d9b1, #ffffff);
        background-size: 400% 400%;
        animation: wave 10s ease infinite;
    }

    @keyframes wave {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }
    /* CSS thêm cho icon thùng rác */
    #deleteIcon {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        width: 24px;
        height: 24px;
    }

    /* Container của form */
    .addContainer {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        max-width: 84%;
        /* max-height: 30%; */
        margin: 0 auto;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        position: relative;
    }

    /* Tiêu đề */
    h3 {
        text-align: center;
        color: #333;
        font-size: 35px;
    }

    /* Nhãn và trường nhập */
    label {
        font-weight: bold;
        margin-top: 3x;
        display: block;
    }

    main {
        overflow-y: auto;
        /* Chỉ cuộn nội dung trong main */
    }

    input[type="text"],
    input[type="number"],
    input[type="file"],
    select,
    textarea {
        width: 100%;
        padding: 2.5px;
        margin: 2px 0 2px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        /* Đảm bảo padding không làm tăng kích thước tổng thể */
    }

    #categoryText {
        margin: 0;
        border-right: solid 0px;
        height: 25px;
        width: 74%;
    }

    #category {
        margin: 0;
        width: 24%;
        height: 25px;
    }

    /* Nút submit */
    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        width: 100%;
        margin-top: 5px;
    }

    button:hover {
        background-color: #45a049;
    }

    .imgDiv {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .imageContainer {
        /* display: flex; */
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

        /* margin-top: 10px; */
    }

    #imagePreview {
        max-width: 200px;
        margin-right: 10px;
        align-items: center;
    }

    #editButton {
        padding: 5px 10px;
        cursor: pointer;
    }



    /* //////////////barcode/////////////////////// */
    #barcode-scanner {
        width: 100%;
        /* Hoặc chiều rộng cụ thể */
        height: 100px;
        /* Hoặc chiều cao cụ thể */
        display: none;
        /* Ẩn khi không sử dụng */
        background-color: black;
    }

    video {
        width: 100%;
        /* Hoặc chiều rộng cụ thể */
        height: 95px;
        /* Hoặc chiều cao cụ thể */
        object-fit: contain;
        overflow-clip-margin: content-box;
        overflow: clip;
    }

    #barcode-scanner__dashboard_section {
        display: none;

    }

    .drawingBuffer {
        display: none;
    }


    /* #start-scan {
    
} */
    /* ///////////////////////////end barcode//////////////////////////////// */
}